apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netflix.fullname" . }}
  labels: {{- include "netflix.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "netflix.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "netflix.name" . }}
    spec:
      containers:
        - name: netflix
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
